<div id="sidebar-wrapper" [ngClass]="(isSideBarOpen$ | async) ? 'open' : 'close'">
    <nav>
        <ul>
            <li>
                <a (click)="onToggleSideNav()" routerLink="development" routerLinkActive="active-link">Development</a>
            </li>
            <li>
                <a (click)="onToggleSideNav()" routerLink="investments" routerLinkActive="active-link">Investments</a>
            </li>
            <li>
                <a (click)="onToggleSideNav()" routerLink="infrastructure" routerLinkActive="active-link">Infrastructures</a>
            </li>
            <li>
                <a (click)="onToggleSideNav()" routerLink="contact">{{ 'navbar.contact-link' | translate | titlecase }}</a>
            </li>
        </ul>
    </nav>
</div>