@import 'src/sass/variables';

#sidebar-wrapper {
    // background-color: $grey;
    position: fixed;
    top: 0;
    bottom: 0;
    //width: 350px;
    width: 100vw;
    padding: 90px 20px;
    transition: .5s;
    font-size: 1rem;
    z-index: 2;
}

#sidebar-wrapper.light-nav {
    background-color: $grey;
}

#sidebar-wrapper.dark-nav {
    background-color: $blueGrey;
}

.close {
    left: 100vw;
}

.open {
    //left: calc(100vw - 350px);
    left: 0;
}

nav {
    ul {
        list-style: none;
        line-height: 3.5;
    }
}

#languages {
    a, span {
        cursor: pointer;
    }
}