<div id="sidebar-wrapper" [ngClass]="(isSideBarOpen$ | async) ? 'open' : 'close'">
    <nav>
        <ul>
            <li>
                <a (click)="onToggleSideNav()" routerLink="/services" routerLinkActive="active-link">Services</a>
            </li>
            <li>
                <a (click)="onToggleSideNav()" routerLink="/work" routerLinkActive="active-link">Work</a>
            </li>
            <li>
                <a (click)="onToggleSideNav()" routerLink="/about" routerLinkActive="active-link">About</a>
            </li>
            <li>
                <a (click)="onToggleSideNav()" routerLink="contact" routerLinkActive="active-link">Contact</a>
            </li>
        </ul>
    </nav>
</div>