@import 'src/sass/variables';

#sidebar-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    padding: 90px 20px;
    transition: .5s;
    font-size: 1rem;
    z-index: 2;
    background-color: $opal;
}

.close {
    left: 100vw;
}

.open {
    left: 0;
}

nav {
    ul {
        list-style: none;
        line-height: 3.5;
    }
}

#languages {
    a, span {
        cursor: pointer;
    }
}