<div id="sidebar-wrapper" [ngClass]="(isSideBarOpen$ | async) ? 'open' : 'close'">
    <nav>
        <ul>
            <li>
                <a (click)="onScroll('#services')" routerLink="" fragment="services">{{ 'navbar.services-link' | translate | titlecase }}</a>
            </li>
            <li>
                <a (click)="onScroll('#about')" routerLink="" fragment="about">{{ 'navbar.about-link' | translate | titlecase }}</a>
            </li>
            <li>
                <a (click)="onToggleSideNav()" routerLink="careers">{{ 'navbar.careers-link' | translate | titlecase }}</a>
            </li>
            <li>
                <a (click)="onScroll('#contact')" routerLink="" fragment="contact">{{ 'navbar.contact-link' | translate | titlecase }}</a>
            </li>
            <li>
                <div id="languages" ngbDropdown display="dynamic">
                    <a ngbDropdownToggle>
                        {{ (currentLang$ | async)?.label | titlecase }}
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu">
                        <span
                            *ngFor="let availableLang of availableLanguages" 
                            ngbDropdownItem (click)="$event.preventDefault(); onSwitchLang(availableLang.value)">
                            {{ availableLang.label | titlecase }}
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</div>