<!-- <h2>Our Work</h2>
<div id="container">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="flex-slide">
                <div class="description">
                    <h3>Decentralized Delivery App</h3>
                    <p>We use Blockchain technology to solve delivery issues!</p>
                </div>
                <div class="picsum-img-wrapper">
                    <img src="../../../assets/images/delivery-dapp.png" alt="">
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="flex-slide">
                <div class="description">
                    <h3>Decentralized Delivery App 2</h3>
                    <p>We use Blockchain technology to solve delivery issues 2!</p>
                </div>
                <div class="picsum-img-wrapper">
                    <img src="../../../assets/images/delivery-dapp.png" alt="">
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="flex-slide">
                <div class="description">
                    <h3>Decentralized Delivery App 3</h3>
                    <p>We use Blockchain technology to solve delivery issues 3!</p>
                </div>
                <div class="picsum-img-wrapper">
                    <img src="../../../assets/images/delivery-dapp.png" alt="">
                </div>
            </div>
        </ng-template>
      </ngb-carousel>
</div> -->
