.text {
    // line-height: 1.6; 
    text-align: justify;
    margin: 0;
    // font-size: 14px;
}

.icon {
    height: 220px; 
    width:220px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .icon {
        height: 180px; 
        width:180px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}