<div class="page-container">
    <h1 class="title-page">ABOUT US</h1>
    <div class="row section">
        <div class="col-xs-12 col-md-6">
            <p>Blockchain massive adoption is on its way... don't miss the opportunity of a lifetime!</p>
            <p>Blockchain is a famous and revolutionizing technology, but most people don't know about it 
                beyond cryptocurrency. Blockchain offers a lot more.
            </p> 
            <p>
                Don't know that much about blockchain technology? <br>
                Not the first time you hear about blockchain, but you feel something big is happening?
            </p>
            <p>At Blockbrainers, we're here to help you understand and analyze your business to see how you can benefit from it.</p>
            <p>
                Founded by Olivier Riccini, a software engineer and blockchain enthusiasm, Blockbrainers is a 
                software company specialized in blockchain technology.</p>
            <p>
                We are a team of blockchain experts, especially in Decentralized Application and smart contracts development, 
                digital assets management, blockchain architecture, integration, and analysis.
            </p>
            <p>Please don't hesitate to reach out to us if you have any questions or projects to submit.</p>
        </div>
        <div class="col-xs-12 col-md-6">
            <img class="main-img" src="../../../assets/images/about/team.jpg" alt="team">
        </div>
    </div>
    <div class="row section full-width-section section-blue-light">
        <div class="col-md-12">
            <div class="title-box">
                <h2 class="title-bolder">OUR PROCESS</h2>
                <b class="dots">...</b>
                <p>Our team has expertise in the latest technologies.</p>
            </div>
            <div class="process-container">
                <div *ngFor="let step of processSteps" class="card-content">
                    <h3>{{ 'processSteps.' + step + '.headline' | translate }}</h3>
                    <p>{{ 'processSteps.' + step + '.text' | translate }}</p>
                    <div *ngIf="step !== 'maintenance'" class="long-arrow-down"></div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="row section full-width-section section-blue-extra-light">
        <div class="col-md-12">
            <div class="title-box">
                <h2 class="title-bolder">OUR STACK</h2>
                <b class="dots">...</b>
                <p>Our team has expertise in the latest technologies.</p>
            </div>
            <div class="logo-container">
                <img *ngFor="let logo of logos" class="logo" [src]="'../../../assets/images/stack/' + logo" alt="logo">
            </div>
            <br>
        </div>
    </div>
    <div class="row section full-width-section">
        <div class="col-xs-12">
            <app-quote [displayBtn]="false"></app-quote>
        </div>
    </div>
</div>
<app-contact-section [title]="'GET IN TOUCH'"></app-contact-section>
