<div class="page-container">
    <h1 class="title-page">ABOUT US</h1>
    <div class="row section">
        <div class="col-xs-12 col-md-6 text-intro">
            
            <p><b>The global adoption of blockchain technology is taking place as we speak, and Blockbrainers 
                is here to help you make the most of this opportunity of a lifetime!</b>
            </p>

            <p>
                Most people misunderstand blockchain technology, thinking that it is nothing more than cryptocurrency. 
                Cryptocurrencies are just one possible application of the technology.
            </p>

            <p>
                Blockchain technology is a distributed ledger technology that provides the essential infrastructure for cryptocurrencies to operate. 
                Cryptocurrencies are nothing but a drop of water in the vast ocean of possible uses for blockchain technology.
            </p>

            <p><b>Don’t know much about blockchain technology? We can help!</b></p>

            <p>
                Blockbrainers is a premier blockchain consulting firm. Our goal is to help businesses understand 
                the potential of this innovative technology to become a part of the decentralized revolution.
            </p>

            <p>
                We help you understand and analyze your business to see how you can benefit from the distributed ledger technology. 
                We use <a href="https://www.ideou.com/blogs/inspiration/what-is-design-thinking" target="_blank">
                    design thinking
                </a> to build customized blockchain solutions to solve your problems.
            </p>

            <p>
                Founded by Olivier Riccini, a software and blockchain engineer, Blockbrainers is a software company that specializes in blockchain technology. 
                Our team comprises industry-leading blockchain architects and developers eager to design, develop, and integrate blockchain-based solutions. 
                We focus on Decentralized Applications (dApps), digital asset management, smart contract development, 
                blockchain analysis, integrating blockchain technology, and blockchain training.
            </p>

            <p>
                Please don’t hesitate to contact us if you have any questions or projects to discuss.
            </p>
            <button class="btn-gold btn-medium" (click)="onScroll('#contact')">
                {{ 'contact-button' | translate }}
            </button>
            
        </div>
        <div class="col-xs-12 col-md-6">
            <img class="main-img" src="../../../assets/images/about/team.jpg" alt="team">
        </div>
    </div>
    <div class="row section full-width-section section-blue-light">
        <div class="col-md-12">
            <div class="title-box">
                <h2 class="title-bolder">OUR PROCESS</h2>
                <b class="dots">...</b>
            </div>
            <div class="process-container">
                <div *ngFor="let step of processSteps" class="card-content">
                    <h3>{{ 'processSteps.' + step + '.headline' | translate }}</h3>
                    {{ 'processSteps.' + step + '.text' | translate }}
                    <div *ngIf="step !== 'maintenance'" class="long-arrow-down"></div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="row section full-width-section section-blue-extra-light">
        <div class="col-md-12">
            <div class="title-box">
                <h2 class="title-bolder">OUR STACK</h2>
                <b class="dots">...</b>
                Our team has expertise in the latest technologies.
            </div>
            <div class="logo-container">
                <img *ngFor="let logo of logos" class="logo" [src]="'../../../assets/images/stack/' + logo" alt="logo">
            </div>
            <br>
        </div>
    </div>
    <div class="row section full-width-section">
        <div class="col-xs-12">
            <app-quote [displayBtn]="false"></app-quote>
        </div>
    </div>
</div>
<app-contact-section [title]="'GET IN TOUCH'"></app-contact-section>
