<div class="page-container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h2 class="title-bolder">ABOUT US</h2>
            <br>
            <p>Blockchain massive adoption is on its way... don't miss the opportunity of a lifetime!</p>
            <p>Blockchain is a famous and revolutionizing technology, but most people don't know about it 
                beyond cryptocurrency. Blockchain offers a lot more.
            </p> 
            <p>
                Don't know that much about blockchain technology? <br>
                Not the first time you hear about blockchain, but you feel something big is happening?
            </p>
            <p>At Blockbrainers, we're here to help you understand and analyze your business to see how you can benefit from it.</p>
            <p>
                Founded by Olivier Riccini, a software engineer and blockchain enthusiasm, Blockbrainers is a 
                software company specialized in blockchain technology.</p>
            <p>
                We are a team of blockchain experts, especially in Decentralized Application and smart contracts development, 
                digital assets management, blockchain architecture, integration, and analysis.
            </p>
            <p>Please don't hesitate to reach out to us if you have any questions or projects to submit.</p>
        </div>
        <div class="col-xs-12 col-md-6">
            <h2 class="title-bolder">OUR PROCESS</h2>
            <app-home-process></app-home-process>
        </div>
    </div>
</div>
