// colors
$darkBlue: #2b129e;
$blue: #0041f7;
$contrastYellow: #ffb100;

$lightGrey: #FCFFFD;
$grey: #e1e0e0cb;
$darkGrey: #3d3b3c;

// sizes
$navbarHeight: 80px;
$footerHeight: 50px;
$globalSidesPadding: 50px;