// colors
$grey: #eaeaea;
$darkGrey: #3d3b3c;

$white: #fff;
$gold: #CF9B3A;

$blue-dark: #12263A;
$blue: #12263a80;
$blue-light: #f3f5f6;
$blue-extra-light: #fafbfa;

// $blue: #fff;
// $blue-light: #fff;
// $blue-extra-light: #fff;

// sizes
$navbar-height: 80px;
$infoBannerHeight: 60px;
$footerHeight: 80px;
$global-sides-padding-xl: 350px;
$global-sides-padding: 150px;
$global-sides-padding-medium: 150px;
$global-sides-padding-small: 50px;
$logoHeight: 70px;
$logoWidth: 280px;

// fonts
// $font-small-size: 1rem;
// $font-medium-size: 1.35rem;
// $font-large-size: 1.6rem;