// colors
$grey: #eaeaea;
$darkGrey: #3d3b3c;

$white: #fff;
$gold: #CF9B3A;
$prussian-blue: #12263A;
$opal: #C5D8D1;
$isabelline: #F4EDEA;
$blue-green: #06bcc1;

// sizes
$navbar-height: 70px;
$infoBannerHeight: 60px;
$footerHeight: 80px;
$globalSidesPadding: 100px;
$global-sides-padding-medium: 50px;
$globalSidesPaddingSmall: 10px;
$logoHeight: 70px;
$logoWidth: 280px;