/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap');
@import 'node_modules/aos/src/sass/aos.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'src/sass/variables';
@import '../sass/components/buttons';
@import '../sass/components/separator';
@import '../sass/components/card';

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 0px;
    overflow-x: hidden;
    color: $blue-dark;
    a {
        color: $blue;
    }
}

.page-container {
    padding: $navbar-height 0 0 0;
    min-height: calc(100vh - #{$navbar-height} - #{$footerHeight} - #{$global-sides-padding});
}

p, a {
    font-size: 1rem;
    line-height: 1.6;
}

p, a, h1, h2, h3, h4 {
    letter-spacing: 2px;
}

.font-medium {
    font-size: 1.35rem;
}

.font-large {
    font-size: 1.6rem;
}

.title-bolder {
    font-weight: 800;
    width: fit-content;
}

.title-page {
    font-weight: 800;
    width: fit-content;
    padding-left: 10px;
    border-left: 1px solid $blue-dark;
    font-size: 2rem;
    text-transform: uppercase;
}

.title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    h2 {
        margin-bottom: 0;
    }
    p {
        text-align: center;
    }
    .dots {
        font-weight: 400;
        font-size: 1.6rem;
        margin-top: -15px;
    }
}

.text-lighter {
    font-weight: 100;
}

input, textarea {
    border-radius: 0px !important;
}

ngb-carousel:focus, .carousel-inner:focus, .carousel-item.active:focus, .flex-slide:focus {
    outline: none !important;
}

.section {
    padding: 100px 0;
 }

.full-width-section {
    margin: 0 calc(-#{$global-sides-padding});
    padding: 70px $global-sides-padding;
}

.section-blue-extra-light {
    background-color: $blue-extra-light;
}

.section-blue-light {
    background-color: $blue-light;
}

.section-blue {
    background-color: $blue;
    a, p, span, h1, h2, h3 {
        color: $white;
    }
}

.section-blue-dark {
    background-color: $blue-dark;
    a, p, blockquote, span, h1, h2, h3 {
        color: $white;
    }
}


ngb-accordion {
    .card {
        margin-bottom: 2rem;
        border: 1px solid $blue-dark !important;
    }
    .card-header {
        background-color: $blue-light !important;
    }
    .card-header button, .card-header button:hover {
        color: $blue-dark !important;
    }
    .card-header button:focus {
        color: $blue-dark !important;
        box-shadow: none !important;
    }
    .card-header button span {
        color: $blue-dark !important;
    }
}



@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    .font-medium {
        font-size: 1.2rem;
    }
    .font-large {
        font-size: 1.4rem;
    }
    .section {
        padding: 50px 0;
     }
    .full-width-section {
        padding: 50px $global-sides-padding-medium;
        margin: 0 calc(-#{$global-sides-padding-medium});
    }
    .title-page {
        margin: 0 auto;
        border: none;
    }
}

@media screen and (max-width: 500px) {
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    p, a {
        font-size: .95rem;
    }
    .font-medium {
        font-size: 1rem;
    }
    .font-large {
        font-size: 1.15rem;
    }
    /////
    .title-box {
        margin-bottom: 0px;
    }
    .section {
        // padding: 0px 0;
     }
    .full-width-section {
        padding: 50px $global-sides-padding-small;
        margin: 0 calc(-#{$global-sides-padding-small})
    }
    .page-container {
        padding: 30px 0 0 0;
    }
}

@media screen and (max-width: 400px) {
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    p, a {
        font-size: .85rem;
    }
    .font-medium {
        font-size: 0.9rem;
    }
    .font-large {
        font-size: 1.05rem;
    }
    .page-container {
        padding: 20px 0 0 0;
    }
}