@import 'src/sass/variables';

footer {
    z-index: 1;
    color: $white;
    background-color: $blue-dark;
    padding: 30px $global-sides-padding;
    width: 100vw;
    position: absolute;
    left: 0;
}

@media screen and (max-width: 500px) {
    footer {
        padding: 30px $global-sides-padding-small;
    }
}