@import 'src/sass/variables';

footer {
    z-index: 1;
    color: $white;
    background-color: $blue-dark;
    height: $footerHeight;
    padding: 0 $global-sides-padding;
    width: 100vw;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // top: 100%
    // bottom: 0;
}

.links {
    display: flex;
    // justify-content: space-between;
    // .list-title {
    //     margin-bottom: 20px;
    // }
    // ul {
    //     list-style: none;
    //     line-height: 1.85rem;
    //     padding: 40px 100px 40px 0;
    // }
    a {
        color: #fff;
        margin-left: 40px;
        // text-decoration: none;
    }
}

@media screen and (max-width: 500px) {
    footer {
        padding: 30px $global-sides-padding-small;
    }
}