@import 'src/sass/variables';

.flex-nav {
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0px $global-sides-padding;
    height: $navbar-height;
    background: $white;
    transition: all .2s !important;
    #sidebar-toggler {
        color: $darkGrey;
        border-color: $darkGrey;
    }
}

app-side-nav {
    display: none;
}

app-top-nav {
    display: block;
}

#sidebar-toggler {
    display: none;
}

#sidebar-toggler {
    cursor: pointer;
    z-index: 2;
    height: 40px;
    width: 40px;
    border: 1px solid;
    border-radius: 50%;
    transition: transform .5s;
    align-items: center;
    justify-content: center;

    span {
        font-size: 25px;
    }
}

#sidebar-toggler.sidenav-open {
    transform: rotate(135deg);
}

@media screen and (max-width: 1300px) {
    .flex-nav {
        padding: 0 $global-sides-padding-xl;
    }
}

@media screen and (max-width: 1100px) {
    app-side-nav {
        display: block;
    }
    #sidebar-toggler {
      display: flex;
    }
    app-top-nav {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .flex-nav {
        padding: 0 $global-sides-padding-medium;
    }
}

@media screen and (max-width: 500px) {
    .flex-nav {
        padding: 0px $global-sides-padding-small;
    }
}

.logo-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    img {
        height: 32px;
        margin-right: 10px;
    }
}

.company-name {
    font-size: 1.45rem;
    font-weight: 900;
    margin: 0;
    color: $gold;
}
