@import 'src/sass/variables';

.flex-nav {
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: fixed;
    padding: 0px 50px;
    height: 80px;
}

.dark-nav {
    background: $darkBlue;
}

.light-nav {
    background: $lightGrey;
}

.logo-container {
    display: flex;
    align-items: center;
}

img {
    width: 280px;
}

app-side-nav {
    display: none;
}

app-top-nav {
    display: block;
}

@media screen and (max-width: 1100px) {
    app-side-nav {
      display: block;
    }
    app-top-nav {
        display: none;
    }
    img {
        width: 220px;
    }
}

@media screen and (max-width: 700px) {
    img {
        width: 180px;
    }
}

@media screen and (max-width: 500px) {
    img {
        width: 150px;
    }
    .flex-nav {
        padding: 0px 5px;
    }
}

label {
    pointer-events: none;
    margin: 0;
    .input {
      display: none;
      &:checked + .toggle-wrapper {
        box-shadow: 0 6.4px 11.2px 0 rgba(darken($darkBlue, 12%), 0.12);
      }
      &:checked + .toggle-wrapper > .selector {
        left: calc(100% - 25px);
        background-color: $darkBlue;
      }
      &:checked ~ .notification > .selected:before {
        content: "Yes";
      }
    }
    .toggle-wrapper {
      position: relative;
      width: 48px;
      height: 24px;
      background-color: #eaeaea;
      border-radius: 999px;
      margin: auto;
      cursor: pointer;
      pointer-events: all;
      box-shadow: 0 6.4px 11.2px 0 rgba(darken($darkGrey, 12%), 0.12);
      .selector {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 4px;
        transform: translateY(-50%);
        background-color: $darkGrey;
        transition: left 0.25s ease;
        border-radius: 50%;
      }
    }
}
  