<nav data-aos="fade-down">
    <!-- <img src="../../../assets/images/logo-only-icon.png" alt=""> -->
    <!-- <img src="../../../assets/images/white_logo_transparent_background-only-icon.png" alt=""> -->
    <img src="../../../assets/images/white_logo_transparent_background.png" alt="">
    <div id="links">
        <a routerLink="home" routerLinkActive="active">Home</a>
        <a routerLink="about" routerLinkActive="active">About</a>
        <a routerLink="services" routerLinkActive="active">Services</a>
        <a routerLink="work" routerLinkActive="active">Work</a>
        <a routerLink="careers" routerLinkActive="active">Careers</a>
        <a routerLink="contact" routerLinkActive="active">Contact</a>
        <div id="languages" ngbDropdown display="dynamic" placement="bottom-right">
            <a ngbDropdownToggle>
                {{ currentLang.label | titlecase }}
            </a>
            <div ngbDropdownMenu class="dropdown-menu">
                <span
                    *ngFor="let availableLang of availableLanguages" 
                    ngbDropdownItem (click)="$event.preventDefault(); onSwitchLang(availableLang.value)">
                    {{ availableLang.label | titlecase }}
                </span>
            </div>
        </div>
    </div>
</nav>