nav {
    // position: fixed;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    color: #fff;
    // background-color: transparent;
    background: #2b129e;
    // padding: 0 20px;
    // height: 100px;
    position: fixed;
    padding: 0px 50px;
    height: 80px;
}

img {
    width: 300px;
}

#links {
    display: flex;
    align-items: center;
    a {
        color: #fff;
        margin-left: 35px;
        padding-bottom: 3px;
        cursor: pointer;
    }
    a:hover {
        text-decoration: none;
        border-bottom: 1px solid #fff;
    }
}

.active {
    border-bottom: 1px solid #fff;
    // padding-bottom: 3px
}

#languages {
    // background-color: #fff;
    // margin-left: 35px;
    // padding: 5px 10px;
    // border-radius: 2px;
    // position: relative;
    select {
        border: none;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    span {
        color: #2b129e;
        cursor: pointer;
    }
    // .dropdown-menu .show {
    //     top: 10px !important;
    // }
    .dropdown-menu {
        top: 10px !important;
        border-radius: 0;
    }
    
    .dropdown-item:active {
        background-color: initial;
    }
}
