<div class="flex-nav" [ngClass]="currentTheme === Theme.LIGHT ? 'light-nav': 'dark-nav'" data-aos="fade-down">
    <div class="logo-container">
        <label for="toggle">
            <input class="input" id="toggle" type="checkbox" (change)="onSwitchTheme()"/>
            <div class="toggle-wrapper"><span class="selector"></span></div>
        </label>
    
        <a (click)="onScroll('#home')" routerLink="" fragment="home">
            <div id="logo"></div>
        </a>
    </div>
    <app-top-nav></app-top-nav>
    <app-side-nav [open]="isSideBarOpen"></app-side-nav>
    
    <div id="sidebar-toggler" [ngClass]="{ 'sidenav-open': isSideBarOpen }" (click)="onToggleSideNav()">
        <span>&#10011;</span>
    </div>
</div>