<div 
    #navbar
    data-aos="fade-down"
    [ngClass]="{
        'flex-nav': true,
        'shadow': hasScrolled
    }">
    <a class="logo-link" (click)="onScroll('#home')" routerLink="" fragment="home">
        <img src="../../../assets/images/logo-icon.png" alt="Blockbrainers logo">
        <h1 class="company-name">BLOCKBRAINERS</h1>
    </a>
    <app-top-nav></app-top-nav>
    <app-side-nav></app-side-nav>
    
    <div id="sidebar-toggler" [ngClass]="{ 'sidenav-open': (isSideBarOpen$ | async) }" (click)="onToggleSideNav()">
        <span>&#10011;</span>
    </div>
</div>