nav {
    display: flex;
    align-items: center;
    select {
        border: none;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    span {
        cursor: pointer;
    }
    .dropdown-menu {
        top: 10px !important;
        border-radius: 0;
    }
    
    .dropdown-item:active {
        background-color: initial;
    }
    a {
        margin-left: 35px;
        padding-bottom: 3px;
        cursor: pointer;
    }
    a:hover {
        text-decoration: none;
        border-bottom: 1px solid #fff;
    }
}

.active {
    border-bottom: 1px solid #fff;
}

.nav-right {
    display: flex;
    align-items: center;
}
