<nav>
    <a class="nav-item-link" routerLink="services" routerLinkActive="active-link">{{ 'navbar.services-link' | translate | titlecase }}</a>
    <a class="nav-item-link" routerLink="about" routerLinkActive="active-link">{{ 'navbar.about-link' | translate | titlecase }}</a>
    <a class="nav-item-link" routerLink="careers" routerLinkActive="active-link">{{ 'navbar.careers-link' | translate | titlecase }}</a>
    <!-- <a class="nav-item-link btn-small btn-white" routerLink="contact" routerLinkActive="active-link">{{ 'navbar.contact-link' | translate | titlecase }}</a> -->
    <a class="nav-item-link btn-small btn-white" [routerLink]="" (click)="onScroll('#contact')" fragment="contact">{{ 'navbar.contact-link' | translate | titlecase }}</a>
    <!-- <div id="languages" ngbDropdown display="dynamic" placement="bottom-right">
        <a class="nav-item-link" ngbDropdownToggle>
            {{ (currentLang$ | async)?.label | titlecase }}
        </a>
        <div ngbDropdownMenu class="dropdown-menu">
            <span
                *ngFor="let availableLang of availableLanguages" 
                ngbDropdownItem (click)="$event.preventDefault(); onSwitchLang(availableLang.value)">
                {{ availableLang.label | titlecase }}
            </span>
        </div>
    </div> -->
</nav>
