@import 'src/sass/variables';

nav {
    display: flex;
    align-items: center;
    select {
        border: none;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    span {
        cursor: pointer;
    }
    .dropdown-menu {
        top: 10px !important;
        border-radius: 0;
    }
    
    .dropdown-item:active {
        background-color: initial;
    }
    a {
        margin-left: 35px;
        cursor: pointer;
        color: $blue-dark;
    }
    a:hover {
        text-decoration: none;
        color: $gold;
    }
}

.active-link {
    color: $gold;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-item-link {
    font-size: .9rem;
}
