<!-- <div class="row">
    <div class="col-xs-12 col-md-4">
        <img src="../../../../assets/images/about/olivier-riccini.jpg" alt="">
    </div>
    <div class="col-xs-12 col-md-8">
        <p>
            We are a team of Blockchain experts, especially in Decentralized Application and smart contracts development, digital assets management, blockchain architecture, integration, and analysis.
        </p>
    </div>
</div> -->

<!-- <div class="flex-banner">
    <img src="../../../../assets/images/about/olivier-riccini.jpg" alt="">
    <div>
    
            <blockquote> We are a team of Blockchain experts, especially in Decentralized Application and smart contracts development, 
            digital assets management, blockchain architecture, integration, and analysis. </blockquote>
        
        <p>
            Olivier Riccini, CEO Blockbrainers
        </p>

    </div>
</div> -->

<!-- <div style="width: 960px; margin: 0 auto; padding-top: 80px; padding-bottom: 80px;"> 
    <div class="testimonial-quote group">
        <img src="../../../../assets/images/about/olivier-riccini.jpg">
        <div class="quote-container">
            <blockquote>
                <p>Overall, fantastic! I'd recommend them to anyone looking for a creative, thoughtful, and professional team.”</p>
            </blockquote>  
            <cite><span>Olivier Riccini</span><br>
                Social Media Specialist<br>
            </cite>
        </div>
    </div>    
</div> -->

<div class="testimonial-quote group">
    <img src="../../../../assets/images/about/olivier-riccini.jpg">
    <div class="quote-container">
        <blockquote>
            <p>Overall, fantastic! I'd recommend them to anyone looking for a creative, thoughtful, and professional team.”</p>
        </blockquote>  
        <cite><span>Olivier Riccini</span><br>
            CEO Blockbrainers<br>
        </cite>
    </div>
</div>    