<div class="testimonial-quote group">
    <img src="../../../../assets/images/about/olivier-riccini.jpg">
    <div class="quote-container">
        <blockquote>
            <p class="font-medium">Overall, fantastic! I'd recommend them to anyone looking for a creative, thoughtful, and professional team.”</p>
        </blockquote>  
        <cite><span>Olivier Riccini</span><br>
            CEO Blockbrainers<br>
            <a class="btn-small btn-white" routerLink="about">About us</a>
        </cite>
    </div>
</div>    