<div class="testimonial-quote group">
    <img src="../../../../assets/images/about/olivier-riccini.jpg">
    <div class="quote-container">
        <blockquote>
            <p>
                Blockchain is a technology with extraordinary potential. Unfortunately, not everyone benefits from it yet due to its elitist aspect. 
                Massive adoption will only happen if we make this technology more accessible by putting the users' needs and the problems
                it is designed to solve first. We strongly believe in this massive adoption and want that you and us be part of it.”
            </p>
        </blockquote>  
        <cite><span>Olivier Riccini</span><br>
            CEO Blockbrainers<br>
            <a class="btn-small btn-white" routerLink="about">About us</a>
        </cite>
    </div>
</div>    