h1 {
    text-align: center;
}

.section {
    height: 70vh;
 }

.section:nth-child(1) {
   height: 100vh;
}

.flex-box {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    padding: 20px;
}