@import 'src/sass/variables';

.section:nth-child(1) {
    background-color: transparent;
}

#home {
    padding: 60px 0;
}

.survey-row {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: $blue-dark;
    p {
        margin-bottom: 0;
        font-weight: bolder;
        text-align: center;
    }
    a, p {
        margin: 10px;
        color: $white;
    }
}

.light-background {
    background-color: $blue-extra-light;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 500px) {
    #home {
        padding: 0;
    }
    .survey-row {
        padding: 15px 10px;
    }
}
