<div id="home" class="section">
    <app-landing></app-landing>
</div>
<div id="services" class="section">
    <app-home-services></app-home-services>
</div>
<!-- <div class="section">
    div id="work" class="section">
    <app-home-work></app-home-work>
</div> 
</div> -->
<!-- <div class="section">
</div> -->
<div class="full-width-section survey-row">
    <p>Please help us improve our services</p>
    <a class="btn-gold btn-medium" href="https://forms.gle/8kg7TmopLCgm74oc7" target="_blank">Take the survey</a>
</div>

<div id="about" class="section">
    <app-home-about></app-home-about>
</div>
