@import 'src/sass/variables';

.section {
    margin-bottom: 200px;
    min-height: calc(100vh - #{$navbarHeight});
    display: flex;
    justify-content: center;
    align-items: center;
 }

.section:nth-child(1) {
    margin-bottom: 0px;
    height: 100vh;
    background-color: transparent;
}

.card {
    padding: 20px;
}