<h2 class="title-bolder">OUR SERVICES</h2>
<br>
<div id="container">
    <div class="row">
        <div class="col-sm-12 col-sm-6 col-md-4 card-wrapper" *ngFor="let service of services">
            <div class="card-content">
                <h3>{{ 'services.' + service + '.headline' | translate }}</h3>
                <p>{{ 'services.' + service + '.definition' | translate }}</p>
                <p>{{ 'services.' + service + '.benefits' | translate }}</p>
                <p>{{ 'services.' + service + '.description' | translate }}</p>
            </div>
        </div>
    </div>
</div>
