@import 'src/sass/variables';

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -2.5rem;
}

a {
    text-decoration: none;
    color: $blue-dark;
    outline: none;
    margin: 2.5rem;
}

@media screen and (max-width: 500px) {
    #container {
        margin: -20px;
    }
    a {
        margin: 20px;
    }
}
