<h2 class="title-bolder">OUR SERVICES</h2>
<br>
<div id="container">
    <div class="card-wrapper" *ngFor="let service of services">
        <a routerLink="/services">
            <div class="card-content">
                <h3>{{ 'services.' + service + '.headline' | translate }}</h3>
                <!-- <h3>{{ 'services.' + service + '.icon' | translate}}</h3> -->
                <img [src]="'services.' + service + '.icon' | translate" alt="">
            </div>
        </a>
    </div>
</div>
