<div class="title-box">
    <h2 class="title-bolder">What we do</h2>
    <b class="dots">...</b>
    <!-- <p>We offer various custom Blockchain solutions to fit your project and meet your expectations.</p> -->
</div>
<!-- <div id="container"> -->
    <div class="flex-card">
        <div class="flex-card-item flex-card-content">
            <h3>Product development</h3>
            <p>
                At Blockbrainers we contribute to Blockchain projects. We develop Decentralized Applications
                and already have contributed to many DEFI (Decentralized Finance) projects and built DAOs (Decentralized Anonymous Organization).
                We either develop entire projects or integrate external teams to help them to change the world.
            </p>
            <span class="btn-small btn-white">See more</span>
        </div>
        <div class="flex-card-item flex-card-img">
            <img src="../../../../assets/images/services/smart-contract-dev.svg" alt="smart contract">
        </div>
    </div>
    <div class="flex-card">
        <div class="flex-card-item flex-card-img">
            <img src="../../../../assets/images/services/crypto-wallet.svg" alt="crypto wallet">
        </div>
        <div class="flex-card-item flex-card-content">
            <h3>Investments</h3>
            <p>
                At Blockbrainers we invest in promissing Blockhain projects. So far, most of our investment were on DEFI projects.
                We're constantly looking for great opportunities. We'll keep our comunity up to date with our finds.
            </p>
            <span class="btn-small btn-white">See more</span>
        </div>
    </div>
    <div class="flex-card">
        <div class="flex-card-item flex-card-content">
            <h3>Infrastructures</h3>
            <p>
                As Blockchain experts we have the duty to contribute to the network.
                We're currently running our own Blockbrainers Ethereum node and Chainlink Oracle.
            </p>
            <span class="btn-small btn-white">See more</span>
        </div>
        <div class="flex-card-item flex-card-img">
            <img src="../../../../assets/images/services/integration.svg" alt="smart contract">
        </div>
    </div>
<!-- </div> -->
