
<div [ngClass]="currentTheme === Theme.LIGHT ? 'light-body': 'dark-body'">
  <app-navbar></app-navbar>
  <div class="survey-row" data-aos="fade-down" data-aos-delay="250">
    <p>Please help us improve our services</p>
    <a class="btn-white btn-medium" href="https://forms.gle/8kg7TmopLCgm74oc7" target="_blank">Take the survey</a>
  </div>
  <div class="context">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
  <div class="area">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>