@import 'src/sass/variables';

.main-wrapper {
    padding: $navbar-height $global-sides-padding 0 $global-sides-padding;
}

@media screen and (max-width: 1400px) {
    .main-wrapper {
        padding: $navbar-height $global-sides-padding-xl 0 $global-sides-padding-xl;
    }
}

@media screen and (max-width: 768px) {
    .main-wrapper {
        padding: $navbar-height $global-sides-padding-medium 0 $global-sides-padding-medium;
    }
}


@media screen and (max-width: 500px) {
    .main-wrapper {
        padding: $navbar-height $global-sides-padding-small 0 $global-sides-padding-small;
    }
}

