<div class="testimonial-quote group">
    <img src="../../../../assets/images/about/olivier-riccini.jpg" alt="picture Olivier Riccini">
    <div class="quote-container">
        <blockquote>
            <!-- <p> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"/></svg>
                Blockchain is a technology with extraordinary potential. Unfortunately, not everyone benefits from it yet due to its elitist aspect. 
                Massive adoption will only happen if we make this technology more accessible by putting the users' needs and the problems
                it is designed to solve first. We strongly believe in this massive adoption and want that you and us be part of it.
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"/></svg>
            <!-- </p> -->
        </blockquote>  
        <cite><span>Olivier Riccini</span><br>
            <span>CEO Blockbrainers</span><br>
            <a *ngIf="displayBtn" class="btn-small btn-white" routerLink="about">About us</a>
        </cite>
    </div>
</div>