.btn-gold, .btn-white {
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0;
    cursor: pointer !important;
    border-radius: 3px;
    text-decoration: none !important;
    &:hover {
        position: relative;
        top: -2px;
    }
    &:focus {
        outline: none;
    }
    &:disabled {
        opacity: .6;
    }
}

.btn-gold {
    background: $gold;
    border: none;
    color: #fff !important;
}

.btn-white {
    background: transparent;
    border: 1px solid $gold;
    color: $gold !important;
}

.btn-small {
    padding: 5px 10px;
}

.btn-medium {
    padding: 10px 20px;
}

.btn-large {
    padding: 20px 40px;
}


@media screen and (max-width: 500px) {
    .btn-large {
        padding: 15px 30px;
    }
}