<h2 class="title-bolder">GET IN TOUCH</h2>
<br>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="contact-section">
            <p class="contact-section-title">Contact info</p>
            <a [href]="'mailto:' + contactEmail"><fa-icon [icon]="faEnvelope"></fa-icon> {{ contactEmail }}</a>
        </div>
        <div class="contact-section socials">
            <p class="contact-section-title">Socials</p>
            <a href="">
                <img src="../../../../assets/svg/linkedin-icon.svg" alt="">
            </a>
            <a href="">
                <img src="../../../../assets/svg/medium-icon.svg" alt="">
            </a>
        </div>
        <div class="contact-section">
            <p class="contact-section-title">Please help us improve our services</p>
            <a class="btn-gold btn-medium" href="https://forms.gle/8kg7TmopLCgm74oc7" target="_blank">Take the survey</a>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <app-contact-form></app-contact-form> 
    </div>
</div>