<div class="page-container">
    <h1 class="title-page">OUR SERVICES</h1>
    <div *ngFor="let service of services; let i = index" [ngClass]="{'full-width-section': true, 'service-section': true, 'odd-section':i % 2 !== 0 }">
        <div class="content">
            <h3>{{ 'services.' + service + '.headline' | translate }}</h3>
            <br>
            <p>{{ 'services.' + service + '.definition' | translate }}
                {{ 'services.' + service + '.benefits' | translate }}
                {{ 'services.' + service + '.description' | translate }}</p>
        </div>
        <div class="image-box">
            <img [src]="'services.' + service + '.icon' | translate" [attr.alt]="service + ' icon'">
        </div>
    </div>
</div>
<app-contact-section [title]="'GET IN TOUCH'"></app-contact-section>