<div class="page-container">
    <h1 class="title-page">Services</h1>
    <!-- <div class="row section">
        <div class="col-xs-12 col-md-6 text-intro">
            <p>
                Hey! I'm Olivier from Blockbrainers. I'm a software and blockchain developer with an expertise in Solidity.
                Passionate by all blockchain related stuffs and having contributing in multiple DEFI projects, I decided
                to found Blockbrainers to help companies and individuals make theire projects reality.
            </p>
            <a class="btn-gold btn-medium" routerLink="/contact" routerLinkActive="active-link">Contact me</a>
            
        </div>
        <div class="col-xs-12 col-md-6">
            <img class="main-img" src="../../../assets/images/about/olivier-riccini.jpg" alt="team">
        </div>
       
    </div> -->

    <div class="row section full-width-section">
        <div class="col-md-12">
            <!-- <div class="title-box">
                <h2 class="title-bolder">What I can do for you</h2>
                <b class="dots">...</b>
            </div> -->
            <!-- <ul>
                <li>
                    Consultation <br>
                    We can set up a meeting and talk about your project. I'll help you find solutions, set up a plan and guide you to the right direction to optimize
                    your project's chances of success.
                </li>
                <li>
                    Contribution <br>
                    You already have a team and you need extra developer(s). I'll be glad to be part of your dev team and/or find talents
                    who we'll fit your project's needs. 
                </li>
                <li>
                    Full development <br>
                    You have a project with no team and/or no real plan. I' help you find a way to make your project real: creating the white paper, buidling the perfect team,
                    plan an ICO, creating the comunity, and deliver the final product.
                </li>
            </ul> -->
            <!-- <div class="card-content">
                <h3>Consultation</h3>
                <p>
                    We can set up a meeting and talk about your project. I'll help you find solutions, set up a plan and guide you to the right direction to optimize
                    your project's chances of success.
                </p>
            </div> -->
            <div class="full-width-section service-section">
                <div class="content">
                    <h3>Consultation</h3>
                    <br>
                    <p>We can set up a meeting and talk about your project. I'll help you find solutions, set up a plan and guide you to the right direction to optimize
                        your project's chances of success.</p>
                </div>
                <div class="image-box">
                    <img src="../../../assets/images/services/training.svg" alt="training icon">
                </div>
            </div>

            <div class="full-width-section service-section section-blue-extra-light">
                <div class="content">
                    <h3>Contribution</h3>
                    <br>
                    <p>You already have a team and you need extra developer(s). I'll be glad to be part of your dev team and/or find talents
                        who we'll fit your project's needs. </p>
                </div>
                <div class="image-box">
                    <img src="../../../assets/images/services/smart-contract-dev.svg" alt="training icon">
                </div>
            </div>

            <div class="full-width-section service-section">
                <div class="content">
                    <h3>Full development</h3>
                    <br>
                    <p>You have a project with no team and/or no real plan. I' help you find a way to make your project real: creating the white paper, buidling the perfect team,
                        plan an ICO, creating the comunity, and deliver the final product.</p>
                </div>
                <div class="image-box">
                    <img src="../../../assets/images/services/dapp.svg" alt="training icon">
                </div>
            </div>

        </div>
    </div>
    
    <div class="row section full-width-section section-blue-extra-light">
        <div class="col-md-12">
            <div class="title-box">
                <h2 class="title-bolder">Main stack</h2>
                <b class="dots">...</b>
            </div>
            <div class="logo-container">
                <img class="logo" src="../../../assets/images/stack/ethereum-1.svg" alt="logo">
                <img class="logo" src="../../../assets/images/stack/solidity.svg" alt="logo">
                <!-- <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/9/98/Solidity_logo.svg" alt="logo"> -->
                <img class="logo" src="../../../assets/images/stack/nodejs-icon.svg" alt="logo">
                <img class="logo" src="../../../assets/images/stack/react.svg" alt="logo">
                <img class="logo" src="../../../assets/images/stack/angular-icon.svg" alt="logo">
                <img class="logo" src="../../../assets/images/stack/aws-2.svg" alt="logo">
                <!-- <img *ngFor="let logo of logos" class="logo" [src]="'../../../assets/images/stack/' + logo" alt="logo"> -->
            </div>
            <br>
        </div>
    </div>

    <div class="row section full-width-section">
        <div id="question-row" class="col-md-12">
            <div class="title-box">
                <h2 class="title-bolder">More questions?</h2>
                <b class="dots">...</b>
            </div>
            <a class="btn-gold btn-large" routerLink="/contact">Let's talk</a>
        </div>
    </div>
  
</div>
<!-- <app-contact-section [title]="'GET IN TOUCH'"></app-contact-section> -->
