<div class="title-box">
    <h2 class="title-bolder">INTERSTING READING</h2>
    <b class="dots">...</b>
</div>

<div class="flex-card">
    <div class="flex-card-item flex-card-img">
        <img src="https://miro.medium.com/max/700/0*WsE-zL0r8c5AMpde" alt="An illustration of blockchain network">
    </div>
    <div class="flex-card-item flex-card-content">
        <h3>Learning Blockchain: How It Works and Everything in Between.</h3>
            <p class="flex-card-content-text">
                The past decade has opened us to several revolutionary technologies. However, none of them has 
                been as underused and underappreciated as blockchain. Traditionally known for cryptocurrencies, 
                blockchain has provided us with a fast, secure, ubiquitous, transparent, and reliable platform for 
                verifying transactions and recording confidential information.
            </p>
        <a 
            class="btn-small btn-white" 
            href="https://blockbrainers.medium.com/learning-blockchain-how-it-works-and-everything-in-between-cdfc67662fe2" 
            target="_blank">
            Read more
        </a>
    </div>
</div>

<div class="flex-card flex-card-inverse">
    <div class="flex-card-item flex-card-img">
        <img src="https://miro.medium.com/max/700/1*-Cks_JntELPGeebPJ4gXjA.jpeg" alt="Voting booth illustration">
    </div>
    <div class="flex-card-item flex-card-content">
        <h3>Can Blockchain Change the Way We Vote?</h3>
            <p class="flex-card-content-text">
                The 2020 US Presidential Election is still underway. It’s been over three days and there is still no verdict. 
                While it’s an unprecedented situation, with over 100 million mail-in ballots to be counted, we should’ve gone 
                digital long ago.
                <br>
                <br>
                <b>Binance CEO and Ethereum Founder Agree that Blockchain Voting is the Future</b>
            </p>
        <a 
            class="btn-small btn-white" 
            href="https://blockbrainers.medium.com/can-blockchain-change-the-way-we-vote-b875c845ac5b" 
            target="_blank">
            Read more
        </a>
    </div>
</div>

<div class="flex-card">
    <div class="flex-card-item flex-card-img">
        <img src="https://miro.medium.com/max/700/0*qeWmkw8ATpeIrIfi" alt="blockchain">
    </div>
    <div class="flex-card-item flex-card-content">
        <h3>Blockchain Beyond Cryptocurrency: The Applications of Blockchain.</h3>
            <p class="flex-card-content-text">
                Since its inception, blockchain has left a huge impact on the digital world. 
                Cryptocurrencies such as Bitcoin have replaced traditional banks in many circles, 
                forever transforming how we exchange money and transfer funds.
                <br>
                Blockchain was first developed in the wake of the 2007–08 financial crisis when 
                people were skeptical of banks' uncertainty. The accusations on Wall Street of misusing borrowers' money, 
                rigging the system in their favor, and charging us with unreasonably high fees made many 
                people distrustful of the current financial system.
            </p>
        <a 
            class="btn-small btn-white" 
            href="https://blockbrainers.medium.com/blockchain-beyond-cryptocurrency-the-applications-of-blockchain-cde2c94dbdb" 
            target="_blank">
            Read more
        </a>
    </div>
</div>
