.title-box {
    margin-bottom: 50px;
}

.flex-card {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.flex-card-inverse {
    flex-direction: row-reverse;
}

.flex-card-item {
    width: 50%;
    height: 330px;
    padding: 0px 80px;
}

.flex-card-img {
    img {
        height: 100%;
        width: 100%;
        object-position: center;
        object-fit: cover;
    }
}

.flex-card-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}

.flex-card-content-text {
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-card:last-child {
    margin-bottom: 0px;
}

@media screen and (max-width: 1100px) {
    .flex-card {
        margin-bottom: 70px;
    }
    .flex-card-item {
        width: 100%;
        padding: 0px 40px;
        text-align: center;
        align-items: initial;
    }
    .flex-card-content {
        justify-content: space-around;
    }
}

@media screen and (max-width: 992px) {
    .flex-card-item {
        padding: 0px 10px;
    }
}
