@import 'src/sass/variables';

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    p {
        text-align: justify;
    }
    img {
        width: 35%;
    }
}

.content {
    border-left: 1px solid;
    padding: 10px 0 10px 40px;
    max-width: 50%;
    border-color: $blue-dark;
    h1 {
        margin-bottom: 35px;
        font-size: 2.2rem;
        font-weight: 700;
    }
}

.btn-gold {
    font-size: 22px;
    margin-top: 50px;
}


@media screen and (max-width: 1100px) {
    .flex-container {
        app-svg-landing-img {
              display: none;
          }
      }
      .content {
        border-left: 1px solid;
        padding: 20px 0 20px 40px;
        max-width: 100%;
        text-align: center;
        border: none;
        p {
            text-align: center;
        }
        h1 {
            margin-bottom: 30px;
            font-size: 2rem;
        }
        .btn-gold {
            font-size: 20px;
            margin: 40px auto 0 auto;
            padding: 20px 40px;
        }
    }
}

@media screen and (max-width: 768px) {
    .content {
        h1 {
            margin-bottom: 20px;
            font-size: 1.85rem;
        }
        .btn-gold {
            margin-top: 25px;
        }
    }
}

@media screen and (max-width: 500px) {
    .flex-container {
        padding-top: 20px;
    }
    .content {
        padding: 0px 0px 20px 0px;
        border: none;
        h1 {
            margin-bottom: 20px;
            font-size: 1.6rem;
            font-weight: 700;
        }
        p {
            margin: 8px;
        }
        .btn-gold {
            margin-top: 25px;
            padding: 10px 30px;
        }
    }
}