<div class="flex-container">
    <div class="content">
        <!-- <h1 data-aos="fade-down" data-aos-delay="500">Embrace Blockchain technology</h1> -->
        <!-- <p data-aos="fade-down" data-aos-delay="900" class="hidden-small-screen">
            Our goal is to help businesses and individuals embrace blockchain technology's decentralized revolution 
            by designing tailor-made blockchain-based solutions. At Blockbrainers we'll guide you through this new world
            with high potential and massive opportunities. 
        </p> -->
        <h1>Working on a Blockchain project? Need some help?</h1>
        <p class="hidden-small-screen">
            We'd be more than glad to help you out with your project in any ways, Could be a simple consultation,
            contributing with an existing team, or even buidling a entire project.
        </p>
        <a class="btn-gold btn-large" routerLink="/contact">Let's talk</a>
    </div>
    <app-svg-landing-img></app-svg-landing-img>
    <!-- <img class="large-image" src="../../../assets/svg/landing-page-img-large.svg" alt="blockchain img" data-aos="fade-down" data-aos-delay="750">
    <img class="medium-image" src="../../../assets/svg/landing-page-img.svg" alt="blockchain img" data-aos="fade-down" data-aos-delay="750"> -->
</div>
