<div class="flex-container">
    <div class="content" data-aos="fade-down" data-aos-delay="250">
        <h2 [innerHTML]="'headline' | translate"></h2>
        <p data-aos="fade-down" data-aos-delay="500" [innerHTML]="'description' | translate">
        </p>
        <button class="btn-gold btn-large" data-aos="fade-down" data-aos-delay="750" (click)="onScroll('#contact')">{{ 'contact-button' | translate }}</button>
    </div>
    <app-svg-landing-img data-aos="fade-down" data-aos-delay="750"></app-svg-landing-img>
    <!-- <img class="large-image" src="../../../assets/svg/landing-page-img-large.svg" alt="blockchain img" data-aos="fade-down" data-aos-delay="750">
    <img class="medium-image" src="../../../assets/svg/landing-page-img.svg" alt="blockchain img" data-aos="fade-down" data-aos-delay="750"> -->
</div>
