@import 'src/sass/variables';

.flex-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    padding: 35px;
    width: 80%;
    border-left: 1px solid #fff;
    p {
        margin: 0;
        font-size: 52px;
    }
    button {
        width: fit-content;
        padding: 20px 40px;
        background: #fff;
        box-shadow: 0;
        border: none;
        color: #fff;
        font-size: 22px;
        border-radius: 3px;
        background: $contrastYellow;
        margin-top: 30px;
    }
}