<div class="flex-container">
    <div class="content" data-aos="fade-down" data-aos-delay="250">
        <!-- <h1 data-aos="fade-down" data-aos-delay="500" [innerHTML]="'title' | translate"></h1> -->
        <h1 data-aos="fade-down" data-aos-delay="500">BLOCKCHAIN FOR EVERYONE</h1>
        <!-- <p class="font-medium" data-aos="fade-down" data-aos-delay="750" [innerHTML]="'headline' | translate">
        </p> -->
        <p class="font-medium" data-aos="fade-down" data-aos-delay="750">
            Blockbrainers, premium provider of blockchain technology-based solutions for enterprises.
        </p>
        <!-- <p data-aos="fade-down" data-aos-delay="900" [innerHTML]="'description' | translate">
        </p> -->
        <p data-aos="fade-down" data-aos-delay="900" class="hidden-small-screen">
            Blockchain technology has started becoming increasingly popular worldwide. 
            At Blockbrainers, we help businesses understand this technology's immense 
            potential to see the massive opportunity they have available. Our goal is 
            to help businesses embrace blockchain technology's decentralized revolution 
            by designing tailor-made blockchain-based solutions. We also provide the training 
            and resources to help make the most of this new technology.
        </p>
        <button class="btn-gold btn-large" data-aos="fade-down" data-aos-delay="1050" (click)="onScroll('#contact')">{{ 'contact-button' | translate }}</button>
    </div>
    <app-svg-landing-img data-aos="fade-down" data-aos-delay="1200"></app-svg-landing-img>
    <!-- <img class="large-image" src="../../../assets/svg/landing-page-img-large.svg" alt="blockchain img" data-aos="fade-down" data-aos-delay="750">
    <img class="medium-image" src="../../../assets/svg/landing-page-img.svg" alt="blockchain img" data-aos="fade-down" data-aos-delay="750"> -->
</div>
