<svg width="450" height="450" xmlns="http://www.w3.org/2000/svg">
    <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
   
    <g>
     <title>background</title>
     <rect class="rect" fill="none" id="canvas_background" height="411.09609" width="411.09609" y="-1" x="-1"/>
    </g>
    <g>
     <title>Layer 1</title>
     <rect class="rect" id="svg_4" height="85" width="85" y="182.95424" x="182.04513" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_12" height="95" width="95" y="177.95424" x="177.04514" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_13" height="105" width="105" y="172.95425" x="172.04513" stroke-width="5.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <text stroke="#cf9b3a" transform="matrix(0.827104926109314,0,0,1,39.171540178358555,0) " font-weight="normal" xml:space="preserve" text-anchor="start" font-family="Raleway, Arial, sans-serif" font-size="52" id="svg_14" y="243.45424" x="191.86545" stroke-width="NaN" fill="#cf9b3a" class="text">B</text>
     <rect class="rect" id="svg_17" height="90" width="90" y="180.45424" x="2.29513" stroke-width="5.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_18" height="90" width="90" y="47.62085" x="48.54513" stroke-width="5.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_20" height="90" width="90" y="2.29513" x="179.54513" stroke-width="5.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_21" height="90" width="90" y="357.70425" x="179.54513" stroke-width="5.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_22" height="90" width="90" y="179.45423" x="357.29513" stroke-width="5.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <line stroke="#cf9b3a" stroke-linecap="null" stroke-linejoin="null" id="svg_29" y2="173.12089" x2="171.79511" y1="136.45424" x1="137.87848" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none" class="line"/>
     <line stroke="#cf9b3a" stroke-linecap="null" stroke-linejoin="null" id="svg_31" y2="221.45424" x2="278.62815" y1="221.45424" x1="356.54477" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none" class="line"/>
     <line stroke="#cf9b3a" stroke-linecap="null" stroke-linejoin="null" id="svg_34" y2="94.28735" x2="224.54513" y1="171.87089" x1="224.54513" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none" class="line"/>
     <line stroke="#cf9b3a" stroke-linecap="null" stroke-linejoin="null" id="svg_39" y2="138.45358" x2="312.21106" y1="174.20349" x1="275.96112" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none" class="line"/>
     <rect class="rect" id="svg_3" height="90" width="90" y="315.12267" x="314.54698" stroke-width="5.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_5" height="90" width="90" y="312.62269" x="47.12847" stroke-width="5.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_19" height="90" width="90" y="47.62085" x="312.54697" stroke-width="6.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <line stroke="#cf9b3a" stroke-linecap="null" stroke-linejoin="null" id="svg_25" y2="278.53731" x2="224.54513" y1="356.45424" x1="224.54513" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none" class="line"/>
     <line stroke="#cf9b3a" stroke-linecap="null" stroke-linejoin="null" id="svg_26" y2="221.45424" x2="94.04485" y1="221.45424" x1="170.71147" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none" class="line"/>
     <line stroke="#cf9b3a" stroke-linecap="null" stroke-linejoin="null" id="svg_28" y2="278.62025" x2="171.29438" y1="312.78682" x1="137.04444" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none" class="line"/>
     <line stroke="#cf9b3a" stroke-linecap="null" stroke-linejoin="null" id="svg_32" y2="314.89753" x2="314.20941" y1="278.75047" x1="278.12848" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none" class="line"/>
     <rect class="rect" id="svg_40" height="80" width="80" y="52.62095" x="53.37851" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_41" height="70" width="70" y="57.45429" x="58.54518" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_42" height="80" width="80" y="7.22909" x="185.11989" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_43" height="70" width="70" y="12.54518" x="190.54516" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_44" height="80" width="80" y="52.62095" x="317.87848" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_45" height="70" width="70" y="57.45429" x="322.54515" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_46" height="80" width="80" y="185.62094" x="7.37852" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_47" height="80" width="80" y="317.62092" x="51.96185" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_48" height="80" width="80" y="362.62092" x="184.3785" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_49" height="80" width="80" y="320.1209" x="319.37849" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_50" height="80" width="80" y="184.62094" x="362.37848" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_51" height="70" width="70" y="189.45427" x="367.54514" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_52" height="70" width="70" y="324.95424" x="324.04516" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_53" height="70" width="70" y="367.45425" x="189.04516" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_54" height="70" width="70" y="322.45426" x="56.62852" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <rect class="rect" id="svg_55" height="70" width="70" y="190.45427" x="12.04518" stroke-width="1.5" stroke="#cf9b3a" fill="none" class="rect"/>
     <text stroke="#cf9b3a" transform="matrix(0.827104926109314,0,0,1,38.704183181747794,0) " font-weight="normal" xml:space="preserve" text-anchor="start" font-family="Raleway, Arial, sans-serif" font-size="52" id="svg_1" y="243.45424" x="223.86545" stroke-width="NaN" fill="#cf9b3a" class="text">B</text>
    </g>
   </svg>