<svg width="450" height="450" xmlns="http://www.w3.org/2000/svg">
    <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
    <g>
     <title>Layer 1</title>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="182.04513" y="182.95424" width="85" height="85" id="svg_4"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="177.04514" y="177.95424" width="95" height="95" id="svg_12"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="5.5" x="172.04513" y="172.95425" width="105" height="105" id="svg_13"/>
     <text  class="text" fill="#cf9b3a" stroke="#cf9b3a" stroke-width="NaN" x="189.86545" y="243.45424" id="svg_14" font-size="52" font-family="Helvetica, Arial, sans-serif" text-anchor="start" xml:space="preserve" font-weight="normal">BB</text>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="5.5" x="2.29513" y="180.45424" width="90" height="90" id="svg_17"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="5.5" x="48.54513" y="47.62085" width="90" height="90" id="svg_18"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="5.5" x="179.54513" y="2.29513" width="90" height="90" id="svg_20"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="5.5" x="179.54513" y="357.70425" width="90" height="90" id="svg_21"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="5.5" x="357.29513" y="179.45423" width="90" height="90" id="svg_22"/>
     <line class="line" fill="none" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" x1="137.87848" y1="136.45424" x2="171.79511" y2="173.12089" id="svg_29" stroke-linejoin="null" stroke-linecap="null" stroke="#cf9b3a"/>
     <line class="line" fill="none" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" x1="356.54477" y1="221.45424" x2="278.62815" y2="221.45424" id="svg_31" stroke-linejoin="null" stroke-linecap="null" stroke="#cf9b3a"/>
     <line class="line" fill="none" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" x1="224.54513" y1="171.87089" x2="224.54513" y2="94.28735" id="svg_34" stroke-linejoin="null" stroke-linecap="null" stroke="#cf9b3a"/>
     <line class="line" fill="none" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" x1="275.96112" y1="174.20349" x2="312.21106" y2="138.45358" id="svg_39" stroke-linejoin="null" stroke-linecap="null" stroke="#cf9b3a"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="5.5" x="314.54698" y="315.12267" width="90" height="90" id="svg_3"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="5.5" x="47.12847" y="312.62269" width="90" height="90" id="svg_5"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="6.5" x="312.54697" y="47.62085" width="90" height="90" id="svg_19"/>
     <line class="line" fill="none" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" x1="224.54513" y1="356.45424" x2="224.54513" y2="278.53731" id="svg_25" stroke-linejoin="null" stroke-linecap="null" stroke="#cf9b3a"/>
     <line class="line" fill="none" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" x1="170.71147" y1="221.45424" x2="94.04485" y2="221.45424" id="svg_26" stroke-linejoin="null" stroke-linecap="null" stroke="#cf9b3a"/>
     <line class="line" fill="none" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" x1="137.04444" y1="312.78682" x2="171.29438" y2="278.62025" id="svg_28" stroke-linejoin="null" stroke-linecap="null" stroke="#cf9b3a"/>
     <line class="line" fill="none" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" x1="278.12848" y1="278.75047" x2="314.20941" y2="314.89753" id="svg_32" stroke-linejoin="null" stroke-linecap="null" stroke="#cf9b3a"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="53.37851" y="52.62095" width="80" height="80" id="svg_40"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="58.54518" y="57.45429" width="70" height="70" id="svg_41"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="185.11989" y="7.22909" width="80" height="80" id="svg_42"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="190.54516" y="12.54518" width="70" height="70" id="svg_43"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="317.87848" y="52.62095" width="80" height="80" id="svg_44"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="322.54515" y="57.45429" width="70" height="70" id="svg_45"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="7.37852" y="185.62094" width="80" height="80" id="svg_46"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="51.96185" y="317.62092" width="80" height="80" id="svg_47"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="184.3785" y="362.62092" width="80" height="80" id="svg_48"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="319.37849" y="320.1209" width="80" height="80" id="svg_49"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="362.37848" y="184.62094" width="80" height="80" id="svg_50"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="367.54514" y="189.45427" width="70" height="70" id="svg_51"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="324.04516" y="324.95424" width="70" height="70" id="svg_52"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="189.04516" y="367.45425" width="70" height="70" id="svg_53"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="56.62852" y="322.45426" width="70" height="70" id="svg_54"/>
     <rect class="rect" fill="none" stroke="#cf9b3a" stroke-width="1.5" x="12.04518" y="190.45427" width="70" height="70" id="svg_55"/>
    </g>
</svg>