/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap');
@import 'node_modules/aos/src/sass/aos.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 0px;
    overflow-x: hidden;
}
